body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}

nav {
	width: 100%;
	height: 40px;
	background-color: #4d648d;
	box-shadow: 5px 0 5px black;
}

.logo-top {
	float: left;
	margin: 3px 0 0 15px;
}

.search-bar {
	float: left;
	margin-left: 50px;
	height: 100%;
	width: 25%;

}

.search-bar input {
	font-family: 'Montserrat', sans-serif;
	padding: 3px;
	width: 70%;
	border: none;
	border-radius: 6px;
	margin: 8.5px 0;
}