/*** GLOBAL ***/

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1 {
	text-align: center;
	color: #242424;
	font-weight: bold;
	font-size: 16pt; 
	margin: 40px 0;
	
	text-transform: capitalize;
}

h6 {
	color: white;
	margin: 10px auto;
	width: 95%;
	font-size: 7.5pt; 
	text-align: center;
	clear: right;
	text-transform: capitalize;	
}

/***NAVBAR***/

nav {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #4d648d;
	-webkit-box-shadow: 0 2px 15px 1px black;
	box-shadow: 0 2px 15px 1px black;
	z-index: 1;
}

.logo-top {
	float: left;
	margin: 3px 0 0 15px;
}

.search-bar {
	float: left;
	margin-left: 50px;
	height: 100%;
	width: 337px;

}

.search-bar input {
	font-family: 'Montserrat', sans-serif;
	padding: 3px;
	width: 70%;
	border: none;
	border-radius: 6px;
	margin: 8.5px 0;
}

#search {
	position: relative;
	height: 23px;
	background-color: #242424;
	border: none;
	cursor: pointer;
	top: 4px;
	right: 12px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.login ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 11pt;
}

	
.login ul li {
	float: right;
	margin: 9.5px 8px;
}

.login ul li a {
	text-decoration: none;
	padding: 3px;
	color: white;
	font-weight: bold;
}

.login ul li a:hover {
	background-color: #283655;
	border-radius: 6px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.login ul li:first-child a:hover {
	background-color: #4d648d;
}

.login ul li:nth-child(3) {
	margin-right: 5px;
	margin-left: 0;
	padding-left: 8px;
	border-left: 1px solid white;
}

.sign-in {
	background-color: #283655;
	padding: 4px;
	border-radius: 6px;
}

/*** BACKGROUND WRAPPER ***/

.background-wrapper {
	position: relative;
	width: 100%;
	height: 400px;
	background-image: url('img/classroom.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.sale {
	position: relative;
	width: 25%;
	min-height: 200px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	top: 10%;
	left: 37.5%;
}

.sale p {
	top: 10px;
	position: relative;
	color: white;
	margin: 0;
	font-weight: bold;
	font-size: 18pt;
	text-align: center;
	text-transform: uppercase;

}

.sale ul {
	margin-left: 5px; 
	

} 
.sale ul li {
	color: white;
	list-style: none;
	list-style-type: '- ';
}

.sale input {
	width: 70%;
	font-size: 12pt;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	border-radius: 6px;
	padding: 2px;
	margin: 30px 15% 0 15%;
	margin-left: 15%;
	margin-right: 15%;
	border: 0;
	text-align: center;
	color: #242424;
	z-index: 1; 
}

/*** Advertisement ***/
.advertisement {
	width: 100%;
	height: 40px;
}

.ad {
	width: 14%;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100px;
	float: left;
	margin-left: 14.5%;
	margin-top: 75px;

	border-radius: 6px;
}

.ad p {
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	margin-top: 26px; 
}

/*** SECTION ***/

section {
	width: 70%;
	min-height: 500px;
	margin: 0 auto;

}

.requalifications {
	width: 100%;
	height: 170px;
} 

.requalifications img{
	width: 13%;
	float: left;
	margin-left: 3%;
}

.free-courses,.paid-courses ,.top-courses {
	width: 100%;
	height: 400px;
	margin-top: 25px;
	clear: both;	
}

.box {
	width: 175px;
	height: 275px;
	float: left;
	margin-left: 1.20%;
	background-color: #4d648d;
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.box p {
	color: white;
	width: 95%;
	height: 75px;
	margin: 3px auto;
	font-size: 7pt;
	text-align: justify;
	letter-spacing: 0.2px;
	word-break: break-all;
	overflow: auto;
}

.box h6 {
 	height: 25px;
 	margin: 5px auto;
 }

 .box img {
 	width: 100%;
 	height: 98.4333px;
 }

.atributes {
	position: relative;
	width: 95%;
	height: 40px;
	margin: 0 auto;
}

.atributes h6 {
	margin-top: 10px;
	height: 15px;
}


.atributes img {
	position: relative; 
	float: right;
	top: 6px;
	width: 50px;
	height: 10px;
}

.courses-button-wrapper {
	width: 164.4333px;
	margin: 0 auto;
}

.courses-button {
	color: white;
	background-color: #33ccf3;
	padding: 20px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 16pt;
	text-decoration: none;

}

.courses-button:hover {
	-webkit-box-shadow: 2px 2px 8px black;
	        box-shadow: 2px 2px 8px black;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

/** Footer **/

footer {
	width: 100%;
	background-color: #1a1a24;
	min-height: 200px;
	margin-top: 50px;
	color: white;
	clear: both;
}

footer p {
	text-align: center;
	font-size: 8pt;
	font-weight: bold;
	margin: 0;
	padding: 5px 0;
	clear: both;
}

.about {
	width: 300px;
	float: left;
	margin-top: 2%;
	margin-left: 5%;

}

.about p {
	text-align: justify;
	font-weight: bold;
	font-size: 8pt;

}

.about img {
	width: 120px;
}

.links {
	width: 460px;
	float: right;
}

.link-wrapper {
	width: 100px;
	height: inherit;
	float: left;
}

.link-wrapper h5 {
	text-align: center;
	font-size: 9pt;
}

.link-wrapper ul {
	float: left;
	margin: 0;
}

.link-wrapper ul li {
	margin: 0;
	list-style: none;
}

.link-wrapper ul li a {
	color: white;
	font-size: 7pt;
	text-decoration: none;
}

.link-wrapper ul li a:hover {
	text-decoration: underline;
}

.stores {
	width: 100%;
	height: 30px;
}

.stores img{
	width: 100px;
	float: left;
}

/*** CATEGORIES ***/
.categories-bg {
	width: 100%;
	background-color: #4d648d;
	height: 40px;
}

.categories {
	width: 80%;
	height: inherit;
	margin: 0 auto;
	
}

.categories ul {
	margin: 0;
	height: inherit;

}

.categories ul li {
	float: left;
	list-style: none; 
	margin-left: 2%;
	margin-top: 1%;
	overflow: hidden;
}
	


.categories ul li a{
	color: #ddd;
	text-decoration: none;
	font-weight: bold;
	font-size: 11pt;
	padding: 3px;
	border-radius: 10px;


}

.categories ul li a:hover {
	background-color: #33ccf3;
	border-radius: 10px;
	transition: 0.5s;
}

.categories-content {
	width: 100%;
	height: 400px;
	margin-top: 25px;
	clear: both;
}

.categories-content h1 {
	text-align: left;
}

/*** COURSE ***/
.course-bg {
	width: 100%;
	height: 400px;
	background-image: url('img/bg/react_bg.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.bg-cover {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.course-bg-heading {
	width: 30%;
	float: left;
	margin-top: 30px; 
}

.course-bg-heading h1{
	margin: 0;
	color: white;
}

.course-bg-heading h1 span{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	border-radius: 6px;
}

.course-bg-video {
	width: 350px;
	height: 200px;
	background-image: url(img/video_img/react_video_img.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	clear: both;
	margin: 0 auto;
	box-shadow: 2px 2px 6px black;
}

.course-bg-video img {
	width: 20%;
	margin-top: 20%;
	margin-left: 40%;
}
.course-bg-video img:hover {
	opacity: 0.8;
}

.course-bg-selling {
	width: 20%;
	height: 80px;
	float: right;
}

.buy {
	width: 100px;
	background-color: #4d648d;	
}

.add {
	width: 100px;
	background-color: #33ccf3;
}

.headings h2{
	font-size: 18pt;
	font-weight: bold;
	color:white;
	text-align: center;
	margin: 0;
	padding: 8px 0;
	cursor: pointer;
}

.add h2 {
	font-size: 12pt;
	padding: 12px 0;
}

.left-box,
.right-box {
	width: 40%;
	float: left;
	min-height: 250px;
	background-color: #ddd;
	margin: 20px 0;
	border-radius: 6px;
	box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.5);
	
}

.right-box {
	float: right;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.left-box h3, .right-box h3 {
	text-align: center;
}

.left-box p {
	text-align: center;
	width: 80%;
	margin: 50px auto 0 auto;
}

.right-box ul {
	width: 80%;
	margin: 0 auto; 
	padding: 0;
}

.right-box ul li {
	list-style-type: "- ";
	font-size: 10pt;
}

.description {
	width: 100%;
	min-height: 400px;
	clear: both;
	padding: 20px 0;
}

.description h1 {
	text-align: left;
	font-size: 17pt;
}

.description h2 {
	font-size: 12pt;
	text-align: center;
}

.description p {
	font-size: 11pt;
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

.instructor {
	width: 100%;
	height: 250px;
	border-radius: 6px;
	margin: 20px 0;
	background-color: #ddd;
}

.instructor-img {
	width: 300px;
	height: inherit;
	float: left;
	height: inherit;
}

.instructor-img img {
	width: 200px;
	border-radius: 50%;
	margin: 25px 0 25px 60px;
}

.instructor-about {
	width: 60%;
	float: right;
	margin-right: 20px;
}

.instructor-about h2 {
	text-align: center;
}

.instructor-about p {
	text-align: justify;
	word-break: normal;
	font-weight: bold;
	font-size: 10pt;
}

.similar {
	width: 100%;
	height: 350px;
	clear: both;
	margin: 20px 0;
}

.similar h1 {
	text-align-last: left;
	font-size: 17pt;
}


/*** MEDIA QUERIES ***/

@media (min-width: 1900px) {
	.categories ul li {
		margin-left: 4%;
	}
}



