/*** GLOBAL ***/

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1 {
	text-align: center;
	color: #242424;
	font-weight: bold;
	font-size: 16pt; 
	margin: 40px 0;
	
	text-transform: capitalize;
}

h6 {
	color: white;
	margin: 10px auto;
	width: 95%;
	font-size: 7.5pt; 
	text-align: center;
	clear: right;

	
}

/***NAVBAR***/

nav {
	width: 100%;
	height: 40px;
	background-color: #4d648d;
	box-shadow: 5px 0 5px black;
}

.logo-top {
	float: left;
	margin: 3px 0 0 15px;
}

.search-bar {
	float: left;
	margin-left: 50px;
	height: 100%;
	width: 25%;

}

.search-bar input {
	font-family: 'Montserrat', sans-serif;
	padding: 3px;
	width: 70%;
	border: none;
	border-radius: 6px;
	margin: 8.5px 0;
}

.login ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 11pt;
}

	
.login ul li {
	float: right;
	margin: 9.5px 8px;
}

.login ul li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.login ul li:nth-child(3) {
	margin-right: 5px;
	margin-left: 0;
	padding-left: 8px;
	border-left: 1px solid white;
}

.sign-in {
	background-color: #283655;
	padding: 4px;
	border-radius: 6px;
}

/*** BACKGROUND WRAPPER ***/

.background-wrapper {
	position: relative;
	width: 100%;
	height: 400px;
	background-image: url('img/classroom.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.sale {
	position: relative;
	width: 25%;
	min-height: 200px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	top: 10%;
	left: 37.5%;
}

.sale p {
	top: 10px;
	position: relative;
	color: white;
	margin: 0;
	font-weight: bold;
	font-size: 18pt;
	text-align: center;
	text-transform: uppercase;

}

.sale ul {
	margin-left: 5px; 
	

} 
.sale ul li {
	color: white;
	list-style: none;
	list-style-type: '- ';
}

.sale input {
	width: 70%;
	font-size: 12pt;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	border-radius: 6px;
	padding: 2px;
	margin: 30px 15% 0 15%;
	margin-left: 15%;
	margin-right: 15%;
	border: 0;
	text-align: center;
	color: #242424;
}

/*** Advertisement ***/
.advertisement {
	width: 100%;
	height: 40px;
}

.ad {
	width: 14%;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100px;
	float: left;
	margin-left: 14.5%;
	margin-top: 75px;

	border-radius: 6px;
}

.ad p {
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	margin-top: 26px; 
}

/*** SECTION ***/

section {
	width: 70%;
	min-height: 500px;
	margin: 0 auto;

}

.requalifications {
	width: 100%;
	height: 170px;
} 

.requalifications img{
	width: 13%;
	float: left;
	margin-left: 3%;
}

.free-courses {
	width: 100%;
	height: 400px;
	margin-top: 25px;	
}

.box {
	width: 175px;
	height: 275px;
	float: left;
	margin-left: 3.5%;
	background-color: #4d648d;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.box :first-child {
	
}

.box p {
	color: white;
	width: 95%;
	height: 75px;
	margin: 3px auto;
	font-size: 7pt;
	text-align: justify;
	overflow: auto;
}

.atributes {
	position: relative;
	width: 95%;
	height: 40px;
	margin: 0 auto;
}

.atributes img {
	position: relative; 
	float: right;
	top: 6px;
	width: 50px;
}


